<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>revisão</title>
</head>

<body>
    <h1> Questionário </h1>
    <form action="/verifica" method="post">
        <label for="">Nome completo:</label>
        <br>
        <input type="text" id="Nome" name="Nome">
        <br>--- --- ---<br>
        <label for="">E-mail institucional</label>
        <br>
        <input type="text" id="E-mail" name="E-mail">
        <br><br>
        <button type="submit">Entre no Questionário</button>

    </form>
</body>

</html>